<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
</head>
<body>
<form th:action="@{/register}" th:object="${usuario}" method="post">
  <h3>Registration</h3>
  <input type="text" th:field="*{nombreusuario}" placeholder="Nombre de Usuario" /> <br/><br/>
  <input type="text" th:field="*{nombres}" placeholder="Nombres" /> <br/><br/>
  <input type="text" th:field="*{apellidos}" placeholder="Apellidos" /> <br/><br/>
  <input type="text" th:field="*{telefono}" placeholder="Numero de Telefono" /> <br/><br/>
  <input type="email" th:field="*{email}" placeholder="Email" /> <br/><br/>
  <input type="number" th:field="*{nocedula}" placeholder="Numero de Cedula" /> <br/><br/>
  <input type="text" th:field="*{direccion}" placeholder="Direccion" /> <br/><br/>
  <input type="number" th:field="*{edad}" placeholder="Edad" /> <br/><br/>
  <input type="password" th:field="*{password}" placeholder="Password" /> <br/><br/>
  <select th:field="*{role}" required>
    <option value="">Select</option>
    <option value="ADMIN">ADMIN</option>
    <option value="USER">USER</option>
  </select> <br/><br/>
  <button type="submit">Register</button> | <a th:href="@{|/login|}" th:text="'Log in'"></a>
  <span th:utext="${successMessage}"></span>
  <div th:if="${bindingResult!=null && bindingResult.getAllErrors()!=null}">
    <ul th:each="data : ${bindingResult.getAllErrors()}">
      <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
    </ul>
  </div>
</form>
</body>
</html>