<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div layout:fragment="content">
    <p>Bienvenido: <span sec:authentication="name"></span></p>
    <p>Rol: <span sec:authentication="authorities"></span></p>
    <!--
    <p><a th:href="@{/}">Home</a></p>
    <p><a th:href="@{/logout}">Log out</a></p>
    -->
</div>

</body>
</html>