<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card mb-3">
        <img th:src="@{/img/admin1.jpg}"  class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bienvenido: <span sec:authentication="name"></span></h5>
            <p class="card-text">Rol: <span sec:authentication="authorities"></span></p>
            <p class="card-text"><small class="text-muted"></small><a  th:href="@{/cronograma/all}" class="btn btn-danger">ir a reservas</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-calendar"></i>Reporte</h5>
                    <p class="card-text">Reporte del cronograma de reservas</p>
                    <a  th:href="@{/cronograma/adminreporte}" class="btn btn-danger">ir al reporte</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-clipboard"></i>Gestion de vehiculos</h5>
                    <p class="card-text">Revise o edite el registro de vehiculos de la flota.</p>
                    <a  th:href="@{/vehiculos}" class="btn btn-danger">ir a gestion de servicios</a>
                </div>
            </div>
        </div>
    </div>
    <h2>Usuarios Registrados en el sistema</h2>
    <table  class="table table-hover table-dark">
        <thead>
        <tr>
            <th>ID Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>

            <th>Rol</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" usuario: ${usuarioList}">
            <td th:text="${usuario.idusuario}"></td>
            <td th:text="${usuario.nombres}"></td>
            <td th:text="${usuario.apellidos}"></td>

            <td th:text="${usuario.role}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>