<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pqrs</title>

  <th:block layout:fragment="addhead">
    <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  </th:block>
</head>
<body>
<div layout:fragment="content">
  <table  id="supplierTable" class="table table-dark table-striped" style="justify-content: center;">
    <thead>
    <tr>
      <th>Numero</th>

      <th>Grupo</th>

      <th>Cargo</th>
      <th>Departamento</th>
      <th>Ciudad</th>
      <th>Asunto</th>
      <th>Descripcion</th>
      <th>Fecha de Registro</th>
      <th>Email</th>
      <th>Autor</th>
      <th>Respuesta</th>
      <th></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each=" pqrs: ${pqrsList}">
      <td th:text="${pqrs.noregistro}"></td>
      <td th:text="${pqrs.grupointeres}"></td>
      <td th:text="${pqrs.personainteres}"></td>
      <td th:text="${pqrs.departamento}"></td>
      <td th:text="${pqrs.ciudad}"></td>
      <td th:text="${pqrs.asuntopqrs}"></td>
      <td th:text="${pqrs.descripcion}"></td>
      <td th:text="${pqrs.fecharegistroPQRS}"></td>
      <td th:text="${pqrs.email}"></td>
      <td th:text="${pqrs.usuario.nombreusuario}"></td>
      <td th:text="${pqrs.respuesta}"></td>

      <!--
      <td>
        <button type="button" class="btn btn-light"><a th:href="@{'/pqrs/edit/' + ${pqrs.noregistro }}" style="text-decoration:none; color:#000">Editar</a></button>
      </td>-->
      <td>
        <button type="button" class="btn btn-danger"><a th:href="@{'/pqrs/delete/' + ${pqrs.noregistro }}" style="text-decoration:none; color:#fff">Eliminar</a></button>

      </td>
    </tr>
    </tbody>
  </table>
</div>

<div layout:fragment="addjs">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
  <script>
        $(document).ready(function () {
            $('#supplierTable').DataTable();
        });
    </script>
</div>
</body>
</html>