<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear conductor</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<div layout:fragment="content">
    <!--<form method="post" th:action="@{/servicios/save}" th:object="${servicio}">
        <input placeholder="name" type="text" name="" required th:field="*{nomservicio}"><br>
        <textarea  th:field="*{descripcion}" placeholder="descripcion" required></textarea><br>
        <input type="text" required th:field="*{tipo}"><br>

        <input type="submit" value="Save">
    </form>-->

    <header class="container-fluid  d-flex justify-content-start text-center ">
        <div class="containerimg">
            <img th:src="@{/img/LOGO B1 sin relleno negro.png}" width="300px" style="padding:5px;" class="img-fluid"
                 alt="Responsive image">
        </div>
        <br>

    </header>
    <div class="card">
        <div class="card-body" style="background: #000; color: #fff ">
            <form method="post" th:action="@{/conductor/save}" th:object="${conductor}">


                <div class="mb-3">
                    <label class="form-label">Categoría de la licencia</label>
                    <select th:field="*{categorialicencia}" class="form-select" >
                        <option value="">Seleccione...</option>
                        <option value="NOAPLICA">NO APLICA</option>
                        <option value="A1">A1: motos de bajo cilindraje</option>
                        <option value="A2">A2: motos de alto cilindraje</option>
                        <option value="B1">B1: autos particulares</option>
                        <option value="B2">B2: camiones y buses de uso particular</option>
                        <option value="B3">B3: vehículos articulados particulares</option>
                        <option value="C1">C1: autos pequeños de servicio público</option>
                        <option value="C2">C2: autos grandes de servicio público</option>
                        <option value="C3">C3: vehículos articulados de servicio público</option>
                    </select>
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('categorialicencia')}" th:errors="*{categorialicencia}"></div>


                <div class="mb-3">
                    <label class="form-label">ARL</label>
                    <select th:field="*{Arl}" class="form-select" >
                        <option value="">Seleccione...</option>
                        <option value="NOAPLICA">NO APLICA</option>
                        <option value="SegurosBolivar">Seguros Bolivar</option>
                        <option value="SURA">SURA</option>
                        <option value="Colmena">Colmena</option>
                        <option value="Colpatria">Colpatria</option>
                    </select>
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('Arl')}" th:errors="*{Arl}"></div>

                <div class="mb-3">
                    <label class="form-label">Cedula </label>
                    <input type="text" class="form-control" name=""  th:field="*{Cedula}">
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('Cedula')}" th:errors="*{Cedula}"></div>


                <div class="mb-3">
                    <label class="form-label">Nombres y Apellidos Completo</label>
                    <input type="text" class="form-control" name=""  th:field="*{nombre}">
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>


                <div class="mb-3">
                    <label class="form-label">EPS</label>
                    <select th:field="*{Eps}" class="form-select" >
                        <option value="">Seleccione...</option>
                        <option value="NOAPLICA">NO APLICA</option>
                        <option value="SaludTotal">Salud Total</option>
                        <option value="Compensar">Compensar</option>
                        <option value="Sanitas">Sanitas</option>
                        <option value="NuevaEps">Nueva Eps</option>
                    </select>
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('Eps')}" th:errors="*{Eps}"></div>

                <div class="mb-3">
                    <label class="form-label">Enpresa Aseguradora</label>
                    <select th:field="*{Seguro}" class="form-select" >
                        <option value="">Seleccione...</option>
                        <option value="NOAPLICA">NO APLICA</option>
                        <option value="SEGUROS BOLIVAR">SEGUROS BOLIVAR</option>
                        <option value="SEGUROS DEL ESTADO">SEGUROS DEL ESTADO</option>
                        <option value="RSASEGUROS">Sanitas</option>
                        <option value="QBESEGUROSCOLOMBIA">QBE SEGUROS COLOMBIA</option>
                        <option value="SEGUROSSURA">SEGUROS SURA</option>
                    </select>
                </div>


                <div class="alert alert-warning" th:if="${#fields.hasErrors('Seguro')}" th:errors="*{Seguro}"></div>

                <div class="mb-3">
                    <label class="form-label">Telefono</label>
                    <input type="text" class="form-control" name=""  th:field="*{Telefono}">
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('Telefono')}" th:errors="*{Telefono}"></div>

                </br>


                <div class="d-grid gap-2 col-6 mx-auto"><input type="submit" class="btn btn-danger" value="Guardar"></div>

            </form>
        </div>
    </div>

</div>


<body>

</body>
</html>