<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear conductor</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<div layout:fragment="content">
    <!--<form method="post" th:action="@{/servicios/save}" th:object="${servicio}">
        <input placeholder="name" type="text" name="" required th:field="*{nomservicio}"><br>
        <textarea  th:field="*{descripcion}" placeholder="descripcion" required></textarea><br>
        <input type="text" required th:field="*{tipo}"><br>

        <input type="submit" value="Save">
    </form>-->

    <header class="container-fluid  d-flex justify-content-start text-center ">
        <div class="containerimg">
            <img th:src="@{/img/LOGO B1 sin relleno negro.png}" width="300px" style="padding:5px;" class="img-fluid"
                 alt="Responsive image">
        </div>
        <br>

    </header>
    <div class="card">
        <div class="card-body" style="background: #000; color: #fff ">
            <form method="post" th:action="@{/conductor/save}" th:object="${conductor}">

                <div class="mb-3">
                    <label class="form-label">Categoria de la licencia</label>
                    <input type="text" class="form-control" name=""  th:field="*{categorialicencia}">
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('categorialicencia')}" th:errors="*{categorialicencia}"></div>

                <div class="mb-3">
                    <label class="form-label">Arl</label>
                    <input type="text" class="form-control" name=""  th:field="*{Arl}">
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('Arl')}" th:errors="*{Arl}"></div>

                <div class="mb-3">
                    <label class="form-label">Cedula </label>
                    <input type="text" class="form-control" name=""  th:field="*{Cedula}">
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('Cedula')}" th:errors="*{Cedula}"></div>


                <div class="mb-3">
                    <label class="form-label">Nombres y Apellidos Completo</label>
                    <input type="text" class="form-control" name=""  th:field="*{nombre}">
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>


                <div class="mb-3">
                    <label class="form-label">Eps</label>
                    <input type="text" class="form-control" name=""  th:field="*{Eps}">
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('Eps')}" th:errors="*{Eps}"></div>

                <div class="mb-3">
                    <label class="form-label">Seguro</label>
                    <input type="text" class="form-control" name=""  th:field="*{Seguro}">
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('Seguro')}" th:errors="*{Seguro}"></div>

                <div class="mb-3">
                    <label class="form-label">Telefono</label>
                    <input type="text" class="form-control" name=""  th:field="*{Telefono}">
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('Telefono')}" th:errors="*{Telefono}"></div>

                </br>


                <input type="submit" class="btn btn-dark" value="Guardar">
            </form>
        </div>
    </div>

</div>


<body>

</body>
</html>