<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreateConductor</title>
</head>
<div layout:fragment="content">
    <!--<form method="post" th:action="@{/servicios/save}" th:object="${servicio}">
        <input placeholder="name" type="text" name="" required th:field="*{nomservicio}"><br>
        <textarea  th:field="*{descripcion}" placeholder="descripcion" required></textarea><br>
        <input type="text" required th:field="*{tipo}"><br>

        <input type="submit" value="Save">
    </form>-->

    <form method="post" th:action="@{/conductor/save}" th:object="${conductor}">

        <div class="mb-3">
            <label  class="form-label">Categoria de la licencia</label>
            <input type="text" class="form-control" name="" required th:field="*{Categoria_licencia}">
        </div>
        <div class="mb-3">
            <label  class="form-label">Arl</label>
            <input type="text" class="form-control" name="" required th:field="*{Arl}">
        </div>
        <div class="mb-3">
            <label  class="form-label">Cedula </label>
            <input type="text" class="form-control" name="" required th:field="*{Cedula}">
        </div>
        <div class="mb-3">
            <label  class="form-label">Eps</label>
            <input type="text" class="form-control" name="" required th:field="*{Eps}">
        </div>
        <div class="mb-3">
            <label  class="form-label">Seguro</label>
            <input type="text" class="form-control" name="" required th:field="*{Seguro}">
        </div>
        <div class="mb-3">
            <label  class="form-label">Telefono</label>
            <input type="text" class="form-control" name="" required th:field="*{Telefono}">
        </div>

        </br>



        <input type="submit" class="btn btn-dark" value="Guardar">
    </form>

</div>





<body>

</body>
</html>