<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Valoraion</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<div layout:fragment="content">
    <header class="container-fluid  d-flex justify-content-start text-center ">
        <div class="containerimg">
            <img th:src="@{/img/LOGO B1 sin relleno negro.png}" width="300px" style="padding:5px;" class="img-fluid"
                 alt="Responsive image">
        </div>
        <br>

    </header>
    <div class="card">
        <div class="card-body" style="background: #000; color: #fff ">
            <h2>Gracias por darnos un momento de su tiempo!.</h2>
            <div class="borde"></div>
            <h3>Apreciado usuario por favor responda las siguientes preguntas:</h3>
            <br>
            <form method="post" th:action="@{/valoraciones-usuarios/save}" th:object="${valoracion}">
                <div class="mb-3">
                    <label class="form-label">Puntuación</label>
                    <select class="form-control" th:field="*{puntuacion}">
                        <option value="">seleccione...</option>
                        <option value="Buena">Buena</option>
                        <option value="Regular">Regular</option>
                        <option value="Mala">Mala</option>
                    </select>
                    <!--<input type="text" class="form-control" name="" required th:field="*{puntuacion}">-->
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('puntuacion')}"
                     th:errors="*{puntuacion}"></div>

                <div class="mb-3">
                    <label class="form-label">Comentario</label>
                    <textarea type="text" class="form-control" th:field="*{comentario}"></textarea>
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('comentario')}"
                     th:errors="*{comentario}"></div>

                <div class="mb-3">
                    <label class="form-label">Seleccione el Servicio que usted ha reservado:</label>
                    <select th:field="*{servicio}" class="form-select" >
                        <option value="">Seleccione...</option>
                        <th:block th:each="servicio: ${servicios} ">
                            <option th:text="${servicio.nomservicio}" th:value="${servicio.idservicio}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('servicio')}" th:errors="*{servicio}"></div>

                <!--<div class="mb-3">
                    <select th:field="*{usuario}"  class="form-select" required>
                        <th:block th:each="usuario: ${usuarios} "><<
                            <option th:text="${usuario.nombreusuario}" th:value="${usuario.idusuario}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"> </div>
                -->

                <br>
                <div class="d-grid gap-2 col-6 mx-auto"><input type="submit" class="btn btn-danger" value="Guardar"></div>
            </form>
        </div>
    </div>

</div>

<body>

</body>
</html>