<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Valoracion</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<div layout:fragment="content">

    <div class="card">
        <div class="card-body" style="background: #000; color: #fff ">
            <h2>Edite su valoracion</h2>
            <div class="borde"></div>

            <br>

            <form method="post" th:action="@{/valoraciones-usuarios/update/{id}(id=${valoracion.idvaloracionservicio})}"
                  th:object="${valoracion}">
                <div class="mb-3">
                    <label class="form-label">Puntuación</label>
                    <select class="form-control" th:field="*{puntuacion}" required>
                        <option value="">Seleccione...</option>
                        <option value="Buena">Buena</option>
                        <option value="Regular">Regular</option>
                        <option value="Mala">Mala</option>
                    </select>
                    <!--<input type="text" class="form-control" name="" required th:field="*{puntuacion}">-->
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('puntuacion')}"
                     th:errors="*{puntuacion}"></div>

                <div class="mb-3">
                    <label class="form-label">Comentario</label>
                    <textarea type="text" class="form-control" name="" required th:field="*{comentario}"></textarea>
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('comentario')}"
                     th:errors="*{comentario}"></div>

                <div class="mb-3">
                    <label class="form-label">Seleccione el Servicio que usted ha reservado:</label>
                    <select th:field="*{servicio}" class="form-select" required>
                        <option value="">Seleccione...</option>
                        <th:block th:each="servicio: ${servicios} ">
                            <option th:text="${servicio.nomservicio}" th:value="${servicio.idservicio}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('servicio')}" th:errors="*{servicio}"></div>


                <br>
                <div class="d-grid gap-2 col-6 mx-auto"><input type="submit" class="btn btn-danger" value="Actualizar"></div>
            </form>
        </div>
    </div>

</div>

<body>

</body>
</html>