<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Solicitud</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<div layout:fragment="content">

    <header class="container-fluid  d-flex justify-content-start text-center ">
        <div class="containerimg">
            <img th:src="@{/img/LOGO B1 sin relleno negro.png}" width="300px" style="padding:5px;" class="img-fluid"
                 alt="Responsive image">
        </div>
        <br>

    </header>
    <div class="card">
        <div class="card-body" style="background: #000; color: #fff ">


            <form method="post" th:action="@{/solicitudes/save}" th:object="${solicitudes}">


                <div class="mb-3">
                    <label class="form-label">Fecha Partida</label>
                    <input type="Date" class="form-control" name="" required th:field="*{fechaPartida}"  min="2022-11-01" max="2023-12-31">
                </div>

                <div class="mb-3">
                    <label class="form-label">Fecha Llegada</label>
                    <input type="Date" class="form-control" name="" required th:field="*{fechaLlegada}" min="2022-11-01" max="2023-12-31">
                </div>

                <div class="mb-3">
                    <label class="form-label">Ciudad destino</label>
                    <select th:field="*{ciudadDestino}" class="form-select" required>
                        <option value="">Seleccione...</option>
                        <option value="Bogota">Bogotá</option>
                        <option value="Medellin">Medellin</option>
                        <option value="Cali">Cali</option>
                        <option value="Barranquilla">Barranquilla</option>
                        <option value="Cartagena">Cartagena de indias</option>
                        <option value="Soacha">Soacha</option>
                        <option value="Cucuta">Cucuta</option>
                        <option value="Soledad">Soledad</option>
                        <option value="Bucaramanga">Bucaramanga</option>
                        <option value="Bello">Bello</option>
                        <option value="Villavicencio">Villavicencio</option>
                        <option value="Ibague">Ibagué</option>
                        <option value="SantaMarta">Santa Marta</option>
                        <option value="Huila">Huila</option>
                        <option value="Valledupar">Valledupar</option>
                        <option value="Manizales">Manizales</option>
                        <option value="Pereira">Pereira</option>
                        <option value="Montería">Montería</option>
                        <option value="Neiva">Neiva</option>
                        <option value="Pasto">Pasto</option>
                        <option value="Armenia">Armenia</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Ciudad origen</label>
                    <select th:field="*{ciudadOrigen}" class="form-select" required>
                        <option value="">Seleccione...</option>
                        <option value="Bogota">Bogotá</option>
                        <option value="Medellin">Medellin</option>
                        <option value="Cali">Cali</option>
                        <option value="Barranquilla">Barranquilla</option>
                        <option value="Cartagena">Cartagena de indias</option>
                        <option value="Soacha">Soacha</option>
                        <option value="Cucuta">Cucuta</option>
                        <option value="Soledad">Soledad</option>
                        <option value="Bucaramanga">Bucaramanga</option>
                        <option value="Bello">Bello</option>
                        <option value="Villavicencio">Villavicencio</option>
                        <option value="Ibague">Ibagué</option>
                        <option value="SantaMarta">Santa Marta</option>
                        <option value="Huila">Huila</option>
                        <option value="Valledupar">Valledupar</option>
                        <option value="Manizales">Manizales</option>
                        <option value="Pereira">Pereira</option>
                        <option value="Montería">Montería</option>
                        <option value="Neiva">Neiva</option>
                        <option value="Pasto">Pasto</option>
                        <option value="Armenia">Armenia</option>
                    </select>
                </div>


                <div class="mb-3">
                    <label class="form-label">Direccion Origen</label>
                    <input type="text" class="form-control" name="" required th:field="*{direccionOrigen}">
                </div>

                <div class="mb-3">
                    <label class="form-label">Direccion Destino</label>
                    <input type="text" class="form-control" name="" required th:field="*{direccionDestino}">
                </div>

                <div class="mb-3">
                    <label class="form-label">Asignar vehículo</label>
                    <select th:field="*{vehiculos}" class="form-select" required>
                        <th:block th:each="vehiculos: ${vehiculos} ">
                            <option th:text="${vehiculos.descripcion}" th:value="${vehiculos.idvehiculo}"></option>
                        </th:block>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Servicio a Solicitar</label>
                    <select th:field="*{servicio}" class="form-select" required>
                        <th:block th:each="servicio: ${servicio} ">
                            <option th:text="${servicio.nomservicio}" th:value="${servicio.idservicio}"></option>
                        </th:block>
                    </select>
                </div>



                <div class="d-grid gap-2 col-6 mx-auto"><input type="submit" class="btn btn-danger" value="Guardar"></div>
            </form>

        </div>
    </div>
</div>
<body>

</body>
</html>

