<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solicitudes</title>

    <th:block layout:fragment="addhead">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


        <!--datables CSS básico-->
        <link rel="stylesheet" type="text/css" th:href="@{/datatables/datatables.min.css}"/>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
              integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
              crossorigin="anonymous">

    </th:block>

</head>
<body>
<div layout:fragment="content">
    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title"><i class="bi bi-exclamation-triangle"></i> </h3>
            <h5 class="card-text">Apreciado Usuario, tenga en cuenta que su solicitud no podrá ser eliminada una vez que la reserva de la solicitud sea confirmada</h5>
        </div>
    </div>

    <br>
    <table id="example" class="table table-hover table-dark" cellspacing="0" width="100%">
        <thead>
        <tr>

            <th>estado Reserva</th>
            <th>fecha Registro</th>
            <th>fecha partida</th>
            <th>fecha llegada</th>
            <th>Ciudad destino</th>
            <th>Ciudad Origen</th>
            <th>direccionOrigen</th>
            <th>direccionDestino</th>
            <th>idvehiculo</th>
            <th>idservicio</th>
            <th>idusuario</th>
            <th></th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each=" solicitudes: ${solicitudesList}">
            <td th:text="${solicitudes.estadoReserva}"></td>
            <td th:text="${solicitudes.fechaRegistro}"></td>
            <td th:text="${solicitudes.fechaPartida}"></td>
            <td th:text="${solicitudes.fechaLlegada}"></td>
            <td th:text="${solicitudes.ciudadDestino}"></td>
            <td th:text="${solicitudes.ciudadOrigen}"></td>
            <td th:text="${solicitudes.direccionOrigen}"></td>
            <td th:text="${solicitudes.direccionDestino}"></td>
            <td th:text="${solicitudes.vehiculos.descripcion}"></td>
            <td th:text="${solicitudes.servicio.nomservicio}"></td>
            <td th:text="${solicitudes.usuario.nombreusuario}"></td>

            <td>
                <button type="button" class="btn btn-light"><a th:href="@{'/solicitudes/edit/' + ${solicitudes.idSolicitudes}}" style="text-decoration:none; color:#000">EDITAR <i class="bi bi-pencil-square"></i></a></button>
            </td>
            <td>
                <button type="button" class="btn btn-danger"><a th:href="@{'/solicitudes/delete/' + ${solicitudes.idSolicitudes}}" style="text-decoration:none; color:#fff">ELIMINAR <i class="bi bi-trash3"></i></a></button>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<div layout:fragment="addjs">
    <!-- jQuery Bootstrap JS -->
    <script th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- datatables JS -->
    <script type="text/javascript" th:src="@{/datatables/datatables.min.js}"></script>


    <!-- código JS propìo-->

    <script>
        $(document).ready(function() {
    $('#example').DataTable({
        language: {
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast":"Último",
                    "sNext":"Siguiente",
                    "sPrevious": "Anterior"
                 },
                 "sProcessing":"Procesando...",
            },





        //para usar los botones

        responsive: "true",

        dom: 'Bfrtilp',

        buttons:[
            {
                extend:    'excelHtml5',
                text:      '<i class="fas fa-file-excel"></i> ',
                titleAttr: 'Exportar a Excel',
                className: 'btn btn-danger'
            },
            {
                extend:    'pdfHtml5',
                text:      '<i class="fas fa-file-pdf"></i> ',
                titleAttr: 'Exportar a PDF',
                className: 'btn btn-danger'
            },
            {
                extend:    'print',
                text:      '<i class="fa fa-print"></i> ',
                titleAttr: 'Imprimir',
                className: 'btn btn-danger'

            },
        ]
    });

});




    </script>
</div>


</body>
</html>