<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" />
    <!-- Icono -->
    <link th:href="@{/img/LOGO B 1 vareacion 1 Black.png}" rel="shortcut icon" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/css/main.css}">

    <!-- Data Grid -->
    <th:block layout:fragment="addhead">
    </th:block>

</head>
<body>
<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <img th:src="@{/img/LOGO-B1-sin-relleno-blanco.png}" width="200px"
             style="padding:15px; height: 100%;" class="img-fluid" alt="Responsive image">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/concord}">Inicio</a>
                </li>


                <!-- Servicios -->
                <li  sec:authorize="hasAnyAuthority('ADMIN')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"> Servicios </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <!-- Submenu servicios -->
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="">Lista de Servicios</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/servicios}">All</a></li>
                                <li><a class="dropdown-item" th:href="@{/servicios/new}">Create</a></li>

                            </ul>
                        </li>
                        <!-- Submenu vehiculos -->
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="">Flota</a>
                            <ul class="dropdown-menu">
                                <li ><a class="dropdown-item" th:href="@{/vehiculos}">All</a></li>
                                <li ><a class="dropdown-item" th:href="@{/vehiculos/new}">Create</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>


                <!-- Atención al Cliente -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"> Atencion al Cliente </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <!-- Submenu PQRS (Cliente)-->
                        <li sec:authorize="hasAnyAuthority('USER')" class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="">PQRS</a>
                            <ul class="dropdown-menu">
                                <li ><a  class="dropdown-item" th:href="@{/pqrs/all}">All</a></li>
                                <li ><a  class="dropdown-item" th:href="@{/pqrs/new}">Create</a></li>
                            </ul>
                        </li>

                        <!-- Submenu PQRS (Admin)-->
                        <li sec:authorize="hasAnyAuthority('ADMIN')" class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="">PQRS</a>
                            <ul class="dropdown-menu">
                                <li ><a  class="dropdown-item" th:href="@{/pqrs-admin/all}">All</a></li>
                            </ul>
                        </li>


                        <!-- Submenu Respuestas PQRS -->
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="">Respuestas
                            PQRS</a>
                            <ul class="dropdown-menu">
                                <li sec:authorize="hasAnyAuthority('ADMIN')"><a class="dropdown-item" th:href="@{/respuestas/all}">Registro</a></li>
                                <li sec:authorize="hasAnyAuthority('ADMIN')"><a class="dropdown-item" th:href="@{/respuestas/new}">Crear</a></li>
                                <li sec:authorize="hasAnyAuthority('USER')"><a class="dropdown-item" th:href="@{/respuestas-usuario/all}">Registro</a></li>
                            </ul>
                        </li>
                        <!-- Submenu Valoraciones -->
                        <div  sec:authorize="hasAnyAuthority('ADMIN')">
                        </div>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="">Valoraciones</a>
                            <ul class="dropdown-menu">

                                <li sec:authorize="hasAnyAuthority('USER')"><a class="dropdown-item" th:href="@{/valoraciones-usuarios/all}">Registro</a></li>

                                <li sec:authorize="hasAnyAuthority('ADMIN')"><a class="dropdown-item" th:href="@{/valoraciones/all}">Hechas por los clientes</a></li>

                                <li sec:authorize="hasAnyAuthority('USER')"><a class="dropdown-item" th:href="@{/valoraciones-usuarios/new}">Create</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <form class="d-flex" role="search">



                <button sec:authorize="isAuthenticated()" class="btn btn-danger" type="button"><a th:href="@{/logout}" style="text-decoration:none; color:#fff">Cerrar Sesión</a></button>
                <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
                    <button class="btn btn-danger" type="button"><a th:href="@{|/login|}" th:text="'Ingresar'"  style="text-decoration:none; color:#fff"></a>
                    </button>

                    <button class="btn btn-danger" type="button"><a th:href="@{|/register|}" th:text="'Registrarse'" style="text-decoration:none; color:#fff"></a>
                    </button>

                </div>


            </form>


        </div>
    </div>
</nav>


<!-- ==================== CONTENID0 ==================== -->
<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <!-- Content Section -->
            <section layout:fragment="content">
                <p>This is filled by the content template.</p>
            </section>
        </div>
    </div>
</div>

<!-- Footer -->
<!--
<footer class="blog-footer">
    <div class="row">

        <div class="col-md-12">
            <p class="text-muted">&copy; 2022 CONCORD.</p>
        </div>
    </div>
</footer>

-->
<br>
<br>
<br>
<footer class="text-center text-white fixed-bottom" style="background-color: #000;">

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" >CONCORD</a>
    </div>

    <!-- Copyright -->
</footer>


<section layout:fragment="addjs">
</section>


</body>
</html>