<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear vehiculos</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<div layout:fragment="content">

    <header class="container-fluid  d-flex justify-content-start text-center ">
        <div class="containerimg">
            <img th:src="@{/img/LOGO B1 sin relleno negro.png}" width="300px" style="padding:5px;" class="img-fluid" alt="Responsive image">
        </div>
        <br>

    </header>
    <div class="card">
        <div class="card-body" style="background: #000; color: #fff ">

    <form method="post" th:action="@{/vehiculos/save}" th:object="${vehiculos}">

        <div class="mb-3">
            <label  class="form-label">Placa</label>
            <input type="text" class="form-control" name=""  th:field="*{placa}">
        </div>

        <div class="alert alert-warning" th:if="${#fields.hasErrors('placa')}" th:errors="*{placa}"></div>

        <div class="mb-3">
            <label  class="form-label">Tipo de Vehículo</label>
            <input type="text" class="form-control" name=""  th:field="*{tipovehiculo}">
        </div>

        <div class="alert alert-warning" th:if="${#fields.hasErrors('tipovehiculo')}" th:errors="*{tipovehiculo}"></div>

        <div class="mb-3">
            <label  class="form-label">Capacidad</label>
            <input type="text" class="form-control" number=""  th:field="*{capacidad}">
        </div>

        <div class="alert alert-warning" th:if="${#fields.hasErrors('capacidad')}" th:errors="*{capacidad}"></div>

        <div class="mb-3">
            <label  class="form-label">Marca</label>
            <input type="text" class="form-control" name=""  th:field="*{marca}">
        </div>

        <div class="alert alert-warning" th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></div>

        <div class="mb-3">
            <label  class="form-label">Soat</label>
            <input type="text" class="form-control" name=""  th:field="*{soat}">
        </div>

        <div class="alert alert-warning" th:if="${#fields.hasErrors('soat')}" th:errors="*{soat}"></div>

        <div class="mb-3">
            <label  class="form-label">Modelo</label>
            <input type="text" class="form-control" name=""  th:field="*{modelo}">
        </div>

        <div class="alert alert-warning" th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"></div>

        <div class="mb-3">
            <label  class="form-label">Descripcion</label>
            <textarea class="form-control"  rows="3" th:field="*{descripcion}" placeholder="descripcion" ></textarea>
        </div>

        <div class="alert alert-warning" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>

        <div class="mb-3">
            <label  class="Estado del vehiculo">Estado del Vehículo</label>
            <input type="text" class="form-control" name=""  th:field="*{estadovehiculo}">
        </div>

        <div class="alert alert-warning" th:if="${#fields.hasErrors('estadovehiculo')}" th:errors="*{estadovehiculo}"></div>

        <div class="mb-3">
            <label class="form-label">Seleccione el Servicio que usted ha reservado:</label>
            <select th:field="*{servicio}" class="form-select" >
                <option value="">Seleccione...</option>
                <th:block th:each="servicio: ${servicios} ">
                    <option th:text="${servicio.nomservicio}" th:value="${servicio.idservicio}"></option>
                </th:block>
            </select>
        </div>

        <div class="alert alert-warning" th:if="${#fields.hasErrors('servicio')}" th:errors="*{servicio}"></div>

        <br>
        <br>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto"><input type="submit" class="btn btn-danger" value="Guardar"></div>

    </form>

        </div>
    </div>
</div>