<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar vehiculo</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<div layout:fragment="content">
    <!--
    <form method="post" th:action="@{/vehiculos/update/{id}(id=${vehiculos.idvehiculo})}" th:object="${vehiculos}">
        <input placeholder="placa" type="text" name="" required th:field="*{placa}">
        <input placeholder="tipo de vehiculo" type="text" name="" required th:field="*{tipovehiculo}">
        <input placeholder="capacidad" type="text" name="" required th:field="*{capacidad}">
        <input placeholder="marca" type="text" name="" required th:field="*{marca}">
        <input placeholder="soat" type="text" name="" required th:field="*{soat}">
        <input placeholder="modelo" type="text" name="" required th:field="*{modelo}">
        <textarea  th:field="*{descripcion}" placeholder="descripcion" required></textarea><br>
        <input placeholder="estado del vehiculo" type="text" name="" required th:field="*{estadovehiculo}">
        <select th:field="*{servicio}" required>
            <th:block th:each="servicio: ${servicios} ">
                <option th:text="${servicio.nomservicio}" th:value="${servicio.idservicio}"></option>
            </th:block>
        </select>
        <input type="submit" value="Save">
    </form>-->
    <header class="container-fluid  d-flex justify-content-start text-center ">
        <div class="containerimg">
            <img th:src="@{/img/LOGO B1 sin relleno negro.png}" width="300px" style="padding:5px;" class="img-fluid" alt="Responsive image">
        </div>
        <br>

    </header>
    <div class="card">
        <div class="card-body" style="background: #000; color: #fff ">

    <form method="post" th:action="@{/vehiculos/update/{id}(id=${vehiculos.idvehiculo})}" th:object="${vehiculos}">

        <div class="mb-3">
            <label  class="form-label">Placa</label>
            <input type="text" class="form-control" name="" required th:field="*{placa}">
        </div>

        <div class="mb-3">
            <label  class="form-label">Tipo de vehiculo</label>
            <input type="text" class="form-control" name="" required th:field="*{tipovehiculo}">
        </div>

        <div class="mb-3">
            <label  class="form-label">Capacidad</label>
            <input type="number" class="form-control" name="" required th:field="*{capacidad}">
        </div>

        <div class="mb-3">
            <label  class="form-label">Marca</label>
            <input type="text" class="form-control" name="" required th:field="*{marca}">
        </div>

        <div class="mb-3">
            <label  class="form-label">Soat</label>
            <input type="text" class="form-control" name="" required th:field="*{soat}">
        </div>

        <div class="mb-3">
            <label  class="form-label">Modelo</label>
            <input type="text" class="form-control" name="" required th:field="*{modelo}">
        </div>

        <div class="mb-3">
            <label  class="form-label">Descripcion</label>
            <textarea class="form-control"  rows="3" th:field="*{descripcion}" placeholder="descripcion" required></textarea>
        </div>

        <div class="mb-3">
            <label  class="Estado del vehiculo">Modelo</label>
            <input type="text" class="form-control" name="" required th:field="*{estadovehiculo}">
        </div>

        <select th:field="*{servicio}" required>
            <th:block th:each="servicio: ${servicios} ">
                <option th:text="${servicio.nomservicio}" th:value="${servicio.idservicio}"></option>
            </th:block>
        </select>

        <br>
        <br>
        <br>
        <input type="submit" class="btn btn-dark" value="Actualizar">
    </form>

</div>


</div>
</body>
</html>