<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>servicios</title>
</head>
<body>

<div layout:fragment="content">

  <table  class="table table-hover table-dark">
    <thead>
    <tr>
      <th>Nombre del servicio</th>
      <th>Tipo</th>
      <th>Descripcion</th>

      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" servicio: ${servicios}">
      <td th:text="${servicio.nomservicio}"></td>
      <td th:text="${servicio.tipo}"></td>
      <td th:text="${servicio.descripcion}"></td>

      <!--
      <td>
        <a th:href="@{'/servicios/edit/' + ${servicio.idservicio }}">Edit</a>
      </td>
      <td>
        <a th:href="@{'/servicios/delete/' + ${servicio.idservicio }}">Delete</a>
      </td>

      -->

      <td>
        <button type="button" class="btn btn-light"><a th:href="@{'/servicios/edit/' + ${servicio.idservicio }}" style="text-decoration:none; color:#000">Editar</a></button>
      </td>
      <td>
        <button type="button" class="btn btn-danger"><a th:href="@{'/servicios/delete/' + ${servicio.idservicio }}" style="text-decoration:none; color:#fff">Eliminar</a></button>

      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>