<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Tarifa</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<div layout:fragment="content">
    <header class="container-fluid  d-flex justify-content-start text-center ">
        <div class="containerimg">
            <img th:src="@{/img/LOGO B1 sin relleno negro.png}" width="300px" style="padding:5px;" class="img-fluid"
                 alt="Responsive image">
        </div>
        <br>

    </header>
    <div class="card">
        <div class="card-body" style="background: #000; color: #fff ">


            <form method="post" th:action="@{/tarifas/save}" th:object="${tarifas}">

                <div class="mb-3">
                    <label class="form-label">ruta</label>
                    <input type="text" class="form-control" name=""  th:field="*{ruta}">
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('ruta')}" th:errors="*{ruta}"></div>

                <div class="mb-3">
                    <label class="form-label">tarifa Ruta</label>
                    <input type="text" class="form-control" name=""  th:field="*{tarifaRuta}">
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('tarifaRuta')}" th:errors="*{tarifaRuta}"></div>

                <div class="mb-3">
                    <label class="form-label">servicio</label>
                    <input type="text" class="form-control" name=""  th:field="*{servicio}">
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('servicio')}" th:errors="*{servicio}"></div>

                <div class="mb-3">
                    <label class="form-label">tarifa Servicio</label>
                    <input type="text" class="form-control" name=""  th:field="*{tarifaServicio}">
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('tarifaServicio')}" th:errors="*{tarifaServicio}"></div>


                <label class="form-label">Reserva Número:</label>
                <div class="mb-3">
                    <select th:field="*{cronograma}" class="form-select" >
                        <option value="">Seleccione...</option>
                        <th:block th:each="cronograma: ${cronograma} ">
                            <option th:text="${cronograma.noReserva}" th:value="${cronograma.noReserva}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('cronograma')}" th:errors="*{cronograma}"></div>


                <div class="d-grid gap-2 col-6 mx-auto"><input type="submit" class="btn btn-danger" value="Guardar"></div>
            </form>

        </div>
    </div>
</div>
<body>

</body>
</html>