<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Responder PQRS</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<div layout:fragment="content">

    <header class="container-fluid  d-flex justify-content-start text-center ">
        <div class="containerimg">
            <img th:src="@{/img/LOGO B1 sin relleno negro.png}" width="300px" style="padding:5px;" class="img-fluid"
                 alt="Responsive image">
        </div>
        <br>

    </header>
    <div class="card">
        <div class="card-body" style="background: #000; color: #fff ">
            <form method="post" th:action="@{/respuestas/update/{id}(id=${respuesta.idrespuesta})}" th:object="${respuesta}">
                <div class="mb-3">
                    <select th:field="*{pqrs}" class="form-select" required >
                        <option value="">seleccione...</option>
                        <th:block th:each="pqrs: ${pqrsList} ">
                            <option th:text="${pqrs.descripcion}" th:value="${pqrs.noregistro}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('pqrs')}" th:errors="*{pqrs}"></div>


                <div class="mb-3">
                    <label class="form-label">Contenido</label>
                    <textarea class="form-control" rows="3" required th:field="*{contenido}" placeholder="contenido" ></textarea>
                </div>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('contenido')}" th:errors="*{contenido}"></div>


                <br>

                <div class="d-grid gap-2 col-6 mx-auto"><input type="submit" class="btn btn-danger" value="Guardar"></div>
            </form>
        </div>
    </div>

</div>
<body>

</body>
</html>