<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Gestion Numero:</th>
            <th>Contenido</th>
            <th>Pqrs a responder</th>

            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" respuesta: ${respuestasPqrs}">
            <td th:text="${respuesta.idrespuesta}"></td>
            <td th:text="${respuesta.contenido}"></td>
            <td th:text="${respuesta.pqrs.noregistro}"></td>
            <td>
                <a th:href="@{'/respuestas/edit/' + ${respuesta.idrespuesta }}">Edit<i class="bi bi-pencil-square"></i></a>
            </td>
            <td>
                <a th:href="@{'/respuestas/delete/' + ${respuesta.idrespuesta }}">Delete<i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>