<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <form method="post" th:action="@{/servicios/update/{id}(id=${servicio.idservicio})}" th:object="${servicio}">
        <input placeholder="name" type="text" name="" required th:field="*{nomservicio}"><br>
        <textarea  th:field="*{descripcion}" placeholder="descripcion" required></textarea><br>
        <input type="text" required th:field="*{tipo}"><br>
        <input type="submit" value="Save">


    </form>
</div>
</body>
</html>